body
{
	background-color: #252525;
	margin: 0;
	padding: 0px;
	font-family: Advent Pro, Helvetica, Arial, sans-serif;
	color: white;
	text-align: center;
}



#wrapper

{
	width:100%;
   	max-width: 900px;
   	min-width: 320px;
   	margin: 0px auto;
}

#content

{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	z-index: 500;

}

#logo
{
	position: relative;
	text-align: center;
	margin-left: 6%;
	margin-right: 6%;
}

.h_iframe        {position:relative; padding-top: 56%;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}



#logoImg
{
	position: relative;
	text-align: center;
	margin-top: 70px; 
	margin-bottom: 40px;
}

.mainText
{
	font-size: 14pt;
	line-height: 200%;
	text-align: center;
	text-transform: none;
}

IMG
{
	border: 0px;
}

P
{
	font-size: 22pt;
	color: #FFFFFF;
	line-height: 150%;
	//text-transform: uppercase;
	//letter-spacing: 0.1em;
}


.center
{
 	text-align: center;
}

#mail
{
 	text-align: center;
 	font-size: 18pt;
}

.background
{
	background-image: url('images/background.jpg');
}

.backgroundImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.screenshotThumbnail
{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 350px;
	width:100%;
}


A, A:visited
{
	text-decoration: none;
	color: #f15340;
}

A:hover
{
	text-decoration: none;
	color: black;
}

A.socialLink, A.socialLink:visited
{
	text-decoration: none;
	color: black;
}

A.socialLink:hover
{
	text-decoration: none;
	color: black;
}

.bigLink
{
	text-decoration: underline;
	color: white;
}

A.bigLink:hover
{
	text-decoration: underline;
	color: white;
}

A.bigLink:visited
{
	text-decoration: underline;
	color: white;
}
